@import "variables";
@import "mixin";
@import "appear";
@import "text-animation";

header {
  a {
    color: $cGray;
    transition: 0.4s;
    &:nth-child(2) {
      margin: 0 25px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

.portfolio-link {
  text-decoration: none !important;
  img {
    overflow: hidden;
    transition: 0.4s !important;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}
