@import "variables";
@import "mixin";
@import "appear";
@import "text-animation";

header {
  a {
    color: $cGray;
    transition: 0.4s;
    &:nth-child(2) {
      margin: 0 25px;
    }
    &:hover {
      transform: scale(1.2);
      color: $cOrange;
    }
  }
}

.face-container {
  .flip-container {
    .flipper {
      position: relative;
      transition: 0.6s;
      transform-style: preserve-3d;
      @include animation(
        $name: flipY,
        $duration: 12s,
        $iteration-count: infinite,
        $direction: normal,
        $fill-mode: none
      );
      &.paused {
        animation-play-state: paused;
      }
      .front,
      .back {
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
      }
      .back {
        transform: rotateY(180deg);
      }
    }
  }

  @keyframes flipY {
    0% {
      transform: rotateY(0deg);
    }
    20% {
      transform: rotateY(90deg);
    }
    30%,
    60% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}

.portfolio-link {
  text-decoration: none !important;
  img {
    overflow: hidden;
    transition: 0.4s !important;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}
